apps/chat-web/NOSSOS AGENTES/Modelos Exemplos - estudo/Agentic RAG - modelo.json
{
  "name": "Nexus RAG - Construtor de E-mail HTML",
  "nodes": [
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "7e2b3506-3904-4e11-9f35-0dfee57f485b",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        2640,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "09ac6b4a-d2c3-4867-b3be-374b9bd629ed",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2400,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Set File ID').item.json.file_id }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "66f549e3-3577-46b7-801d-3089f628cb8b",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -112,
        384
      ],
      "executeOnce": true,
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7GQ8SsYBEhTA3Mdx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "url",
          "value": "https://drive.google.com/drive/u/0/folders/195OWvKSKZjsdyAIXeqoC9z__QKCRHC8i"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "61d9b215-1897-469a-b93e-4e74c8c7e63b",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -1312,
        352
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7GQ8SsYBEhTA3Mdx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "url",
          "value": "https://drive.google.com/drive/u/0/folders/195OWvKSKZjsdyAIXeqoC9z__QKCRHC8i"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "e5c23f98-139e-4df6-9300-837bf9f1a3f6",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -1312,
        512
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7GQ8SsYBEhTA3Mdx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "ab63b43f-3094-41b5-9350-6d6b0541d22c",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        784,
        544
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "dd627ae7-19cd-4d19-852c-d1ac8932c071",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -736,
        368
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "PrEgTvUovvMPNi0o",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "type": "string",
              "value": "={{ $json.mimeType }}"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "type": "string",
              "value": "={{ $json.webViewLink }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bf52df62-4cb4-4653-ad17-ed57fc08012b",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "position": [
        -928,
        528
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "0f5e46dc-347c-403e-a97c-e6fe059590d7",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        784,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "72c8e5d6-b842-4be9-9eb6-1509d81f209c",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1216,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a8e48219-7a8e-4249-a3a5-ef2252f8d9c5",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "position": [
        2544,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "3ffdf4f9-e02b-4d55-8d01-78830bd1d982",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "position": [
        1424,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/pdf"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 3
        }
      },
      "id": "65980283-aca2-41cf-821d-7be998abb53b",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        208,
        352
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "86e2bf3c-cf28-45d7-885a-c1b1c8d286f0",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        2560,
        176
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "PrEgTvUovvMPNi0o",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "05b0bb8e-4aef-4571-bf47-e4033b71727d",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        784,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
              "name": "schema",
              "type": "string",
              "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}"
            },
            {
              "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
              "name": "data",
              "type": "string",
              "value": "={{ $json.concatenated_data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e20dfa08-f11a-4334-9377-67c52d8cde2a",
      "name": "Set Schema",
      "type": "n8n-nodes-base.set",
      "position": [
        1712,
        224
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "42918ddf-73db-442c-b92e-9f5475c4ae81",
      "name": "Extract from CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        784,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "0835cfdb-d77d-481d-8563-d8f46e3aab8b",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -1104,
        368
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "document_rows",
        "filters": {
          "conditions": [
            {
              "keyName": "dataset_id",
              "condition": "eq",
              "keyValue": "={{ $('Set File ID').item.json.file_id }}"
            }
          ]
        }
      },
      "id": "2cef3f33-fc80-4151-9d15-ffcbcf4ed980",
      "name": "Delete Old Data Rows",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -576,
        528
      ],
      "executeOnce": true,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "PrEgTvUovvMPNi0o",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "document_metadata",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "url": "={{ $('Set File ID').item.json.file_url }}",
            "title": "={{ $('Set File ID').item.json.file_title }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "url",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "schema",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "00fab46e-d803-43c2-99ee-f2bceec9965a",
      "name": "Insert Document Metadata",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -416,
        384
      ],
      "executeOnce": true,
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "zxJcnDROO4rFEY28",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "document_rows",
          "cachedResultName": "document_rows"
        },
        "columns": {
          "value": {
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}",
            "dataset_id": "={{ $('Set File ID').item.json.file_id }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "dataset_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "dataset_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "type": "object",
              "display": true,
              "required": false,
              "displayName": "row_data",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5174fdfa-92b1-4731-acca-1737ae2d57d3",
      "name": "Insert Table Rows",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1264,
        464
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "zxJcnDROO4rFEY28",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "document_metadata",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "schema": "={{ $json.schema }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "url",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "schema",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c2c353cc-ca56-4957-a613-7b2e31a11dfe",
      "name": "Update Schema for Document Metadata",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1952,
        224
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "zxJcnDROO4rFEY28",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE {{ $('When chat message received').item.json.chatInput }}_document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);",
        "options": {}
      },
      "id": "b07b5b73-c437-4a99-9313-70bd95162ea8",
      "name": "Create Document Metadata Table1",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -2000,
        432
      ],
      "executeOnce": false,
      "typeVersion": 2.5,
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "zxJcnDROO4rFEY28",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE {{ $('When chat message received').item.json.chatInput }}_document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES {{ $('When chat message received').item.json.chatInput }}_document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);",
        "options": {}
      },
      "id": "be22137d-a68f-4458-9d42-3d1d55236a96",
      "name": "Create Document Rows Table (for Tabular Data)1",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -1808,
        432
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "zxJcnDROO4rFEY28",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Create a table to store your documents\nCREATE TABLE {{ $json.chatInput }}_documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create an index for better performance\nCREATE INDEX {{ $json.chatInput }}_documents_embedding_idx \nON {{ $json.chatInput }}_documents \nUSING ivfflat (embedding vector_cosine_ops);\n\n-- Create a function to search for documents\nCREATE OR REPLACE FUNCTION match_{{ $json.chatInput }}_documents (\n  query_embedding vector(1536),\n  match_count int DEFAULT 10,\n  filter jsonb DEFAULT '{}'\n)\nRETURNS TABLE (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nLANGUAGE plpgsql\nAS $$\nBEGIN\n  RETURN QUERY\n  SELECT\n    doc.id,\n    doc.content,\n    doc.metadata,\n    1 - (doc.embedding <=> query_embedding) as similarity\n  FROM {{ $('Chercher nom dernier client').item.json['Dernier client'] }}_documents doc\n  WHERE \n    CASE \n      WHEN filter != '{}' THEN doc.metadata @> filter\n      ELSE TRUE\n    END\n  ORDER BY doc.embedding <=> query_embedding\n  LIMIT match_count;\nEND;\n$$;\n\n-- Grant permissions\nGRANT EXECUTE ON FUNCTION match_{{ $json.chatInput }}_documents TO authenticated;\nGRANT EXECUTE ON FUNCTION match_{{ $json.chatInput }}_documents TO anon;",
        "options": {}
      },
      "id": "a4057728-0d6d-4ada-b2cd-75cfa654791d",
      "name": "Create Documents Table and Match Function1",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -2224,
        432
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "zxJcnDROO4rFEY28",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "62b7b5bf-4aa6-4cbf-a15b-8e5da97353e7",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -2432,
        432
      ],
      "webhookId": "d1a1c40a-f780-45de-82cd-7e1edbc030e2",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "# Phase 1: Client-Specific Database Infrastructure Creation",
        "height": 352,
        "width": 928
      },
      "id": "993885a3-e7ee-443d-a011-77296541d60e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2512,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### What you do:\nProvide the client name or identifier via chat interface to initialize their dedicated database tables\nEnsure the client name follows proper naming conventions (no spaces, special characters)\nConfirm the client requires a separate vector database instance for data isolation\n\n### What the system does:\nCreates client-specific PostgreSQL tables with pgvector extension for isolated vector storage\nEstablishes dedicated document metadata table with client-specific naming convention\nSets up client-specific document rows table for tabular data storage (spreadsheets, CSV files)\nCreates custom match function for similarity search operations using client-specific table names\nConfigures separate Supabase integration for each client's vector storage and retrieval operations\n\n**Database Tables Created:**\n- `[client_name]_documents`: Vector storage with embeddings and metadata\n- `[client_name]_document_metadata`: Document tracking with titles, URLs, schemas\n- `[client_name]_document_rows`: Tabular data storage for spreadsheets/CSV files\n- `match_[client_name]_documents()`: Custom search function for semantic queries\n\n### Result:\n✅ Isolated vector database infrastructure established per client\n✅ Complete data separation ensuring client confidentiality\n✅ Multi-format document support enabled for each client instance\n✅ Custom search capabilities activated per client database\n✅ Scalable multi-tenant architecture ready for document processing",
        "height": 384,
        "width": 928
      },
      "id": "0b9df088-62b9-4552-9c5f-80305c7f3a7e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2512,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Phase 2: Google Drive Folder Monitoring Configuration",
        "height": 480,
        "width": 1264,
        "color": 2
      },
      "id": "ba65686c-4360-466a-8ccd-16c1e0cdc868",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### What you do:\nConfigure the Google Drive folder URL for monitoring specific client document repositories\nUpdate the folder path in both \"File Created\" and \"File Updated\" trigger nodes\nEnsure proper Google Drive API permissions for file access and monitoring\nVerify the Supabase vector store node points to the correct client-specific table name\n\n### What the system does:\nMonitors specified Google Drive folder for new file uploads and existing file updates\nTriggers workflow execution automatically when documents are created or modified\nHandles multiple file types including PDF, Google Docs, Sheets, Excel, and CSV files\nImplements dual triggers for both file creation and update events ensuring comprehensive coverage\nProcesses files individually to maintain data integrity and prevent cross-client contamination\n\n**Critical Configuration Requirements:**\n- Update folder URL in both trigger nodes to match client's document repository\n- Modify \"Insert into Supabase Vectorstore\" node table name to `[client_name]_documents`\n- Ensure all database operations reference correct client-specific table names\n\n### Result:\n✅ Real-time document monitoring for client-specific Google Drive folders\n✅ Automatic processing of new and updated documents with proper client isolation\n✅ Multi-format file support for comprehensive document management\n✅ Reliable trigger system ensuring no client documents are missed\n✅ Scalable monitoring infrastructure supporting multiple client instances\n",
        "height": 752,
        "width": 1264,
        "color": 2
      },
      "id": "2c54f916-fc95-4a2a-b017-e7c96b258ad7",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Phase 3: Document Processing and Content Extraction",
        "height": 672,
        "width": 1280,
        "color": 3
      },
      "id": "2c9efe2e-65ee-41ab-8d96-36e445964b85",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### What the system does:\nDownloads documents from Google Drive using secure API connections with client context\nIdentifies file types automatically and routes to appropriate extraction methods\nProcesses PDF files with text extraction preserving structure and formatting\nHandles Google Docs conversion to plain text format for optimal AI processing\nExtracts data from Excel and CSV files with schema detection and preservation\nImplements comprehensive error handling for corrupted or inaccessible documents\n\n**Multi-Format Processing Capabilities:**\n- PDF documents: Full text extraction with formatting preservation\n- Google Docs: Native conversion to structured text format\n- Excel/Google Sheets: Data extraction with automatic column schema detection\n- CSV files: Structured data processing with intelligent delimiter detection\n\n### Result:\n✅ Comprehensive content extraction across all major document formats\n✅ Structured data preservation for spreadsheets and tabular client content\n✅ Clean text formatting optimized for AI processing and vector embedding generation\n✅ Robust error handling ensuring workflow stability across diverse document types\n✅ Schema detection enabling intelligent data organization for each client",
        "height": 464,
        "width": 1280,
        "color": 3
      },
      "id": "8bdf0b14-4a92-4c36-bbe1-d9734aeb05a7",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Phase 4: Data Aggregation and Schema Management",
        "height": 672,
        "width": 1072,
        "color": 4
      },
      "id": "ffa5a357-f26c-434e-b85c-32c34fef7488",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### What the system does:\nAggregates extracted data from Excel and CSV files for comprehensive processing\nConcatenates structured data while preserving individual record integrity\nSummarizes tabular data by combining all rows into a unified format for vector processing\nStores individual table rows in client-specific PostgreSQL database for structured queries\nCreates and updates schema metadata for spreadsheet and CSV file structures\nMaps column structures and data types for intelligent data organization per client\n\n**Data Processing Operations:**\n- \"Aggregate\": Combines all extracted data items into consolidated format\n- \"Summarize\": Concatenates field data while maintaining structure\n- \"Insert Table Rows\": Stores individual rows in `[client_name]_document_rows` table\n- \"Set Schema\": Captures column structure and data types from spreadsheets/CSV\n- \"Update Schema for Document Metadata\": Updates client metadata with schema information\n\n### Result:\n✅ Structured data properly aggregated for vector embedding processing\n✅ Individual table rows preserved for detailed structured queries\n✅ Schema information captured enabling intelligent data organization\n✅ Client-specific tabular data storage with full query capabilities\n✅ Data structure metadata maintained for enhanced search and filtering\n",
        "height": 464,
        "width": 1072,
        "color": 4
      },
      "id": "ad17dda5-88ae-49ab-84c1-6ed1863a2c98",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Phase 5: Advanced Vector Embedding and Text Processing",
        "height": 672,
        "width": 848,
        "color": 5
      },
      "id": "c6e6cdec-8a74-4800-a2b3-6fb66f2fd28c",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2192,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### What the system does:\nProcesses aggregated text content using OpenAI embeddings for semantic search capabilities\nImplements character-based text splitting to maintain context while optimizing chunk sizes\nGenerates high-dimensional vector representations (1536 dimensions) for similarity search\nLoads processed documents with proper metadata attribution for client identification\nConfigures embedding model parameters optimized for document content and search performance\n\n**Vector Processing Components:**\n- \"Embeddings OpenAI\": Generates semantic embeddings using text-embedding-3-small model\n- \"Character Text Splitter\": Intelligently segments text maintaining contextual coherence\n- \"Default Data Loader\": Loads processed content with client-specific metadata tags\n- Metadata preservation including file_id and file_title for document traceability\n\n### Result:\n✅ High-quality semantic embeddings optimized for client-specific document search\n✅ Intelligent text segmentation preserving document meaning and context\n✅ Proper metadata attribution enabling document traceability and client isolation\n✅ Search-optimized vector representations supporting similarity queries\n✅ Scalable embedding generation supporting large document collections per client\n",
        "height": 432,
        "width": 848,
        "color": 5
      },
      "id": "8629cceb-246c-46bb-9114-ed77db7e66cf",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2192,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Phase 6: Client-Specific Vector Database Storage and Workflow Completion\n\n### What the system does:\nStores processed vector embeddings in client-specific Supabase database tables\nInserts document vectors with associated metadata into `[client_name]_documents` table\nCompletes the document processing cycle and returns to monitoring loop for additional files\nMaintains data integrity through proper client-specific table targeting\nEnables immediate semantic search capabilities within client's isolated vector database\n\n**Critical Configuration Requirement:**\n- **IMPORTANT**: Update \"Insert into Supabase Vectorstore\" node to reference correct client table name\n- Change table name from generic \"documents\" to `[client_name]_documents`\n- Ensure vector storage targets the client-specific table created in Phase 1\n\n### Result:\n✅ Vector embeddings securely stored in client-specific database tables\n✅ Immediate semantic search capabilities activated for client document collection\n✅ Complete workflow cycle enabling continuous document processing and monitoring\n✅ Client data isolation maintained through proper table targeting\n✅ Scalable vector storage supporting unlimited document processing per client instance",
        "height": 576,
        "width": 928,
        "color": 6
      },
      "id": "7b410451-b23b-4cb7-a281-b88a96ab3539",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3104,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Need more advanced automation solutions? Contact us for custom enterprise workflows!\n\n# Growth-AI.fr\n\n## https://www.linkedin.com/in/allanvaccarizi/\n## https://www.linkedin.com/in/hugo-marinier-%F0%9F%A7%B2-6537b633/",
        "height": 336,
        "width": 816
      },
      "id": "9a888370-685c-43e4-a0fc-f758b70cec7c",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3840,
        304
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Set Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schema": {
      "main": [
        [
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Create Documents Table and Match Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document Metadata Table1": {
      "main": [
        [
          {
            "node": "Create Document Rows Table (for Tabular Data)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Documents Table and Match Function1": {
      "main": [
        [
          {
            "node": "Create Document Metadata Table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5f88455d-94a1-4ecd-8ce5-c2923da504a9",
  "meta": {
    "instanceId": "63dbfee99e7db46636912ea02f6284c665c3cc754411fa1f0eb04a3eeeaecdf7"
  },
  "id": "mNKp12jfmeEcAyJU",
  "tags": [
    {
      "updatedAt": "2025-12-11T01:22:00.969Z",
      "createdAt": "2025-12-11T01:22:00.969Z",
      "id": "lWEiteEvFinQCBp4",
      "name": "NexusAI"
    }
  ]
}