apps/chat-web/NOSSOS AGENTES/nexus-chatbot-ai/Nexus RAG - ENS.json
{
  "name": "Nexus RAG - ENS",
  "nodes": [
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 300,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "5091c5a9-aacf-43f8-9f3b-4a9fc6f9a1e5",
      "name": "Splitter (ENS)",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -16,
        624
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Trigger Update (ENS)').item.json.id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Trigger Update (ENS)').item.json.name }}"
              },
              {
                "name": "content_hash",
                "value": "={{ $('Compute Hash (ENS)').first().json.content_hash }}"
              },
              {
                "name": "category",
                "value": "ens"
              }
            ]
          }
        }
      },
      "id": "dc0adce8-1669-4781-8ee7-ad30591096e8",
      "name": "Loader (ENS)",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -96,
        416
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Trigger Update (ENS)').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1120,
        400
      ],
      "id": "ff58f866-1510-4c4a-9190-940e06b5789d",
      "name": "Download (ENS)",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7GQ8SsYBEhTA3Mdx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst item = $input.first();\nconst binaryData = item.binary?.data;\n\nif (!binaryData?.data) {\n  throw new Error('Missing binary data to hash (ENS)');\n}\n\nconst buffer = Buffer.from(binaryData.data, 'base64');\nconst contentHash = crypto.createHash('sha256').update(buffer).digest('hex');\n\nreturn [\n  {\n    json: {\n      ...item.json,\n      content_hash: contentHash\n    },\n    binary: item.binary\n  }\n];"
      },
      "id": "0e0b0c71-0e83-4d7b-9f35-62c4f561b1a7",
      "name": "Compute Hash (ENS)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        400
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1fwjy5jmprVvtqApd0TXGP6sxuEXzJybv",
          "mode": "list",
          "cachedResultName": "Ofertas ENS AI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fwjy5jmprVvtqApd0TXGP6sxuEXzJybv"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1568,
        400
      ],
      "id": "d3275b7c-f9a1-452a-84e1-17bbd94610c1",
      "name": "Trigger Update (ENS)",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7GQ8SsYBEhTA3Mdx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "rag_ens",
          "mode": "list",
          "cachedResultName": "rag_ens"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -192,
        192
      ],
      "id": "57939066-1062-4f6c-b47b-d04f1fb3f8b5",
      "name": "Supabase Insert (ENS)",
      "credentials": {
        "supabaseApi": {
          "id": "PrEgTvUovvMPNi0o",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM rag_ens\nWHERE metadata->>'file_id' = '{{ $('Trigger Update (ENS)').item.json.id }}';",
        "options": {}
      },
      "id": "00566b9b-62b2-452a-a8c7-f306f8c37808",
      "name": "Delete Old Version (ENS)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1344,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "zxJcnDROO4rFEY28",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1fwjy5jmprVvtqApd0TXGP6sxuEXzJybv",
          "mode": "list",
          "cachedResultName": "Ofertas ENS AI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fwjy5jmprVvtqApd0TXGP6sxuEXzJybv"
        },
        "event": "fileDeleted"
      },
      "id": "e20789f8-5f91-46ab-9436-0388c143c803",
      "name": "Trigger Delete (ENS)",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1568,
        1232
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7GQ8SsYBEhTA3Mdx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM rag_ens\nWHERE metadata->>'file_id' = '{{ $('Trigger Delete (ENS)').item.json.id }}';",
        "options": {}
      },
      "id": "c3f6270e-1ffe-425a-bec2-4ca88ff6babd",
      "name": "Supabase Delete (ENS)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1344,
        1232
      ],
      "credentials": {
        "postgres": {
          "id": "zxJcnDROO4rFEY28",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 3
            }
          ]
        }
      },
      "id": "58459076-c300-490d-9126-86af273253e1",
      "name": "Manual Sync Trigger (ENS)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1568,
        912
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1fwjy5jmprVvtqApd0TXGP6sxuEXzJybv",
            "mode": "list",
            "cachedResultName": "Ofertas ENS AI",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1fwjy5jmprVvtqApd0TXGP6sxuEXzJybv"
          }
        },
        "options": {}
      },
      "id": "6a774018-301e-47f2-8985-4b4135b9c9c4",
      "name": "List All Files (ENS)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1344,
        912
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7GQ8SsYBEhTA3Mdx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "dd31e53f-304e-4c63-b87f-78a5ba325cb3",
      "name": "Download All Files (ENS)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1120,
        912
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7GQ8SsYBEhTA3Mdx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $json.name }}"
              },
              {
                "name": "content_hash",
                "value": "={{ $('Compute Hash All (ENS)').item.json.content_hash }}"
              },
              {
                "name": "category",
                "value": "ens"
              }
            ]
          }
        }
      },
      "id": "0f2612bb-9c55-4baa-bcdb-78825bba5641",
      "name": "Loader All (ENS)",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -160,
        1136
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM rag_ens\nWHERE metadata->>'file_id' = '{{ $json.id }}';",
        "options": {}
      },
      "id": "e1b7b2b6-9d9a-4bf3-9f9b-5c1b4f2fbe7d",
      "name": "Delete Old Version All (ENS)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -928,
        912
      ],
      "credentials": {
        "postgres": {
          "id": "zxJcnDROO4rFEY28",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst item = $input.first();\nconst binaryData = item.binary?.data;\n\nif (!binaryData?.data) {\n  throw new Error('Missing binary data to hash (ENS All)');\n}\n\nconst buffer = Buffer.from(binaryData.data, 'base64');\nconst contentHash = crypto.createHash('sha256').update(buffer).digest('hex');\n\nreturn [\n  {\n    json: {\n      ...item.json,\n      content_hash: contentHash\n    },\n    binary: item.binary\n  }\n];"
      },
      "id": "b1763a8d-10de-4f0f-ae52-50f0b3b39c55",
      "name": "Compute Hash All (ENS)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        912
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "rag_ens",
          "mode": "list",
          "cachedResultName": "rag_ens"
        },
        "options": {}
      },
      "id": "2a1ea54f-e043-463a-9306-04f33a14376a",
      "name": "Supabase Insert All (ENS)",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -144,
        912
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PrEgTvUovvMPNi0o",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -224,
        416
      ],
      "id": "7fbe972f-e31c-43fc-bc6f-8894682d2e11",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "LKLI2bYOi25ApuVn",
          "name": "Openai API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "id-1",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": ".json",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JSON"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "id-2",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": ".csv",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "id-3",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": ".md",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Markdown/Other"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "id": "30f6d2a5-9137-4da5-aa6a-461948c5bcf0",
      "name": "Route by File Type (ENS)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -896,
        384
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "197cee80-d1aa-4e30-87c8-6fb917f5444a",
      "name": "Extract JSON (ENS)",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -672,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst textItems = [];\n\nfor (const item of items) {\n  // Convert JSON to formatted text\n  let text = '';\n  if (typeof item.json === 'object') {\n    text = JSON.stringify(item.json, null, 2);\n  } else {\n    text = String(item.json);\n  }\n  \n  // Create binary data from text for Document Loader processing\n  const buffer = Buffer.from(text, 'utf-8');\n  const binaryData = {\n    data: buffer.toString('base64'),\n    mimeType: 'text/plain',\n    fileExtension: 'txt',\n    fileName: item.json.name || 'converted.txt'\n  };\n  \n  textItems.push({\n    json: item.json,\n    binary: { data: binaryData }\n  });\n}\n\nreturn textItems;"
      },
      "id": "59c683c0-5122-4827-a7b4-3ffc974f87f3",
      "name": "Convert to Text (ENS)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        560
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "id-1",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": ".json",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JSON"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "id-2",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": ".csv",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "id-3",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": ".md",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Markdown/Other"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2,
          "ignoreCase": true
        }
      },
      "id": "14be65fe-9ed3-4314-85b8-8dcebaad82eb",
      "name": "Route by File Type All (ENS)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -896,
        896
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "fefff61f-c3ef-41ba-b958-3d73fde98970",
      "name": "Extract JSON All (ENS)",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -672,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst textItems = [];\n\nfor (const item of items) {\n  // Convert JSON to formatted text\n  let text = '';\n  if (typeof item.json === 'object') {\n    text = JSON.stringify(item.json, null, 2);\n  } else {\n    text = String(item.json);\n  }\n  \n  // Create binary data from text for Document Loader processing\n  const buffer = Buffer.from(text, 'utf-8');\n  const binaryData = {\n    data: buffer.toString('base64'),\n    mimeType: 'text/plain',\n    fileExtension: 'txt',\n    fileName: item.json.name || 'converted.txt'\n  };\n  \n  textItems.push({\n    json: item.json,\n    binary: { data: binaryData }\n  });\n}\n\nreturn textItems;"
      },
      "id": "777d3e89-88f8-4269-880a-7d5adf4db811",
      "name": "Convert to Text All (ENS)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst textItems = [];\n\nfor (const item of items) {\n  try {\n    // Get the CSV binary data\n    const binaryData = item.binary.data;\n    if (!binaryData) {\n      console.log('No binary data found for item:', item.json.name);\n      continue;\n    }\n\n    // Decode the base64 binary data to text\n    const csvContent = Buffer.from(binaryData.data, 'base64').toString('utf-8');\n    \n    // Parse CSV manually with flexible column handling\n    const lines = csvContent.split('\\n').filter(line => line.trim());\n    let parsedData = [];\n    \n    for (let i = 0; i < lines.length; i++) {\n      const line = lines[i].trim();\n      if (!line) continue;\n      \n      // Simple CSV parsing that handles variable columns\n      const values = line.split(',').map(v => v.trim().replace(/^\"|\"$/g, ''));\n      parsedData.push(values);\n    }\n    \n    // Convert parsed CSV to readable text format\n    let textContent = '';\n    if (parsedData.length > 0) {\n      // Assume first row might be headers\n      const headers = parsedData[0];\n      textContent += 'CSV Data:\\n\\n';\n      \n      for (let i = 0; i < parsedData.length; i++) {\n        const row = parsedData[i];\n        if (i === 0) {\n          textContent += 'Headers: ' + row.join(' | ') + '\\n\\n';\n        } else {\n          textContent += 'Row ' + i + ': ' + row.join(' | ') + '\\n';\n        }\n      }\n    }\n    \n    // Create binary data from text for Document Loader processing\n    const buffer = Buffer.from(textContent, 'utf-8');\n    const newBinaryData = {\n      data: buffer.toString('base64'),\n      mimeType: 'text/plain',\n      fileExtension: 'txt',\n      fileName: (item.json.name || 'converted.txt').replace('.csv', '.txt')\n    };\n    \n    textItems.push({\n      json: item.json,\n      binary: { data: newBinaryData }\n    });\n    \n  } catch (error) {\n    console.error('Error processing CSV for item:', item.json.name, error.message);\n  }\n}\n\nreturn textItems;"
      },
      "id": "a7fa0a82-9039-40a3-81b9-d77c06b02bdf",
      "name": "Process CSV All (ENS)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst textItems = [];\n\nfor (const item of items) {\n  try {\n    // Get the CSV binary data\n    const binaryData = item.binary.data;\n    if (!binaryData) {\n      console.log('No binary data found for item:', item.json.name);\n      continue;\n    }\n\n    // Decode the base64 binary data to text\n    const csvContent = Buffer.from(binaryData.data, 'base64').toString('utf-8');\n    \n    // Parse CSV manually with flexible column handling\n    const lines = csvContent.split('\\n').filter(line => line.trim());\n    let parsedData = [];\n    \n    for (let i = 0; i < lines.length; i++) {\n      const line = lines[i].trim();\n      if (!line) continue;\n      \n      // Simple CSV parsing that handles variable columns\n      const values = line.split(',').map(v => v.trim().replace(/^\"|\"$/g, ''));\n      parsedData.push(values);\n    }\n    \n    // Convert parsed CSV to readable text format\n    let textContent = '';\n    if (parsedData.length > 0) {\n      // Assume first row might be headers\n      const headers = parsedData[0];\n      textContent += 'CSV Data:\\n\\n';\n      \n      for (let i = 0; i < parsedData.length; i++) {\n        const row = parsedData[i];\n        if (i === 0) {\n          textContent += 'Headers: ' + row.join(' | ') + '\\n\\n';\n        } else {\n          textContent += 'Row ' + i + ': ' + row.join(' | ') + '\\n';\n        }\n      }\n    }\n    \n    // Create binary data from text for Document Loader processing\n    const buffer = Buffer.from(textContent, 'utf-8');\n    const newBinaryData = {\n      data: buffer.toString('base64'),\n      mimeType: 'text/plain',\n      fileExtension: 'txt',\n      fileName: (item.json.name || 'converted.txt').replace('.csv', '.txt')\n    };\n    \n    textItems.push({\n      json: item.json,\n      binary: { data: newBinaryData }\n    });\n    \n  } catch (error) {\n    console.error('Error processing CSV for item:', item.json.name, error.message);\n  }\n}\n\nreturn textItems;"
      },
      "id": "914de889-412f-4404-80ee-d140d4eb83f8",
      "name": "Process CSV All (ENS)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        272
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Splitter (ENS)": {
      "ai_textSplitter": [
        [
          {
            "node": "Loader (ENS)",
            "type": "ai_textSplitter",
            "index": 0
          },
          {
            "node": "Loader All (ENS)",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Loader (ENS)": {
      "ai_document": [
        [
          {
            "node": "Supabase Insert (ENS)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download (ENS)": {
      "main": [
        [
          {
            "node": "Compute Hash (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Hash (ENS)": {
      "main": [
        [
          {
            "node": "Route by File Type (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Update (ENS)": {
      "main": [
        [
          {
            "node": "Delete Old Version (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Version (ENS)": {
      "main": [
        [
          {
            "node": "Download (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Delete (ENS)": {
      "main": [
        [
          {
            "node": "Supabase Delete (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Sync Trigger (ENS)": {
      "main": [
        [
          {
            "node": "List All Files (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All Files (ENS)": {
      "main": [
        [
          {
            "node": "Download All Files (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download All Files (ENS)": {
      "main": [
        [
          {
            "node": "Delete Old Version All (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Version All (ENS)": {
      "main": [
        [
          {
            "node": "Compute Hash All (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Hash All (ENS)": {
      "main": [
        [
          {
            "node": "Route by File Type All (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loader All (ENS)": {
      "ai_document": [
        [
          {
            "node": "Supabase Insert All (ENS)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Insert (ENS)",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Insert All (ENS)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Route by File Type (ENS)": {
      "main": [
        [
          {
            "node": "Extract JSON (ENS)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process CSV All (ENS)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Insert (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON (ENS)": {
      "main": [
        [
          {
            "node": "Convert to Text (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Text (ENS)": {
      "main": [
        [
          {
            "node": "Supabase Insert (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by File Type All (ENS)": {
      "main": [
        [
          {
            "node": "Extract JSON All (ENS)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process CSV All (ENS)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Insert All (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON All (ENS)": {
      "main": [
        [
          {
            "node": "Convert to Text All (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Text All (ENS)": {
      "main": [
        [
          {
            "node": "Supabase Insert All (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process CSV All (ENS)": {
      "main": [
        [
          {
            "node": "Supabase Insert All (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process CSV All (ENS)1": {
      "main": [
        [
          {
            "node": "Supabase Insert (ENS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56fab483-6a16-4eca-8f0e-2f1d8a74ed38",
  "meta": {
    "instanceId": "63dbfee99e7db46636912ea02f6284c665c3cc754411fa1f0eb04a3eeeaecdf7"
  },
  "id": "ON6GSNbt0uSHdqru",
  "tags": [
    {
      "updatedAt": "2025-12-11T01:22:00.969Z",
      "createdAt": "2025-12-11T01:22:00.969Z",
      "id": "lWEiteEvFinQCBp4",
      "name": "NexusAI"
    }
  ]
}
