apps/chat-web/NOSSOS AGENTES/gestor-meta-ai/novos/Sincronização Métricas META + Relatório.json
{
  "name": "Sincronização Métricas META + Relatório",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "supabaseCampaignsTable",
              "value": "<__PLACEHOLDER_VALUE__Nome da tabela de campanhas no Supabase__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "supabaseAdsetsTable",
              "value": "<__PLACEHOLDER_VALUE__Nome da tabela de conjuntos de anúncios no Supabase__>",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "supabaseAdsTable",
              "value": "<__PLACEHOLDER_VALUE__Nome da tabela de anúncios no Supabase__>",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "supabaseMetricsTable",
              "value": "<__PLACEHOLDER_VALUE__Nome da tabela de métricas agregadas no Supabase__>",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "supabaseAdMetricsTable",
              "value": "<__PLACEHOLDER_VALUE__Nome da tabela de métricas por anúncio no Supabase__>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d79947ff-b188-4d70-b051-dda76f71c990",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        1008
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "id-1",
                    "leftValue": "={{ $json.body.entry[0].changes[0].field }}",
                    "rightValue": "campaigns",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Campaign"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "id-2",
                    "leftValue": "={{ $json.body.entry[0].changes[0].field }}",
                    "rightValue": "adsets",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AdSet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "id-3",
                    "leftValue": "={{ $json.body.entry[0].changes[0].field }}",
                    "rightValue": "ads",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ad"
            }
          ]
        },
        "options": {}
      },
      "id": "e1da9ad4-deab-48cf-8c99-4f78c6708b3b",
      "name": "Route by Object Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        608,
        992
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "id",
              "value": "={{ $json.body.entry[0].changes[0].value.id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "name",
              "value": "={{ $json.body.entry[0].changes[0].value.name }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "status",
              "value": "={{ $json.body.entry[0].changes[0].value.status }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "objective",
              "value": "={{ $json.body.entry[0].changes[0].value.objective }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "updated_time",
              "value": "={{ $json.body.entry[0].changes[0].value.updated_time }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "event_type",
              "value": "={{ $json.body.entry[0].changes[0].value.event_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1bf37e02-0ce2-44a0-9238-95fdee4d843d",
      "name": "Transform Campaign Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        1200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "id",
              "value": "={{ $json.body.entry[0].changes[0].value.id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "name",
              "value": "={{ $json.body.entry[0].changes[0].value.name }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "status",
              "value": "={{ $json.body.entry[0].changes[0].value.status }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "campaign_id",
              "value": "={{ $json.body.entry[0].changes[0].value.campaign_id }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "updated_time",
              "value": "={{ $json.body.entry[0].changes[0].value.updated_time }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "event_type",
              "value": "={{ $json.body.entry[0].changes[0].value.event_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "147cc178-0e93-449f-b379-543e6808d637",
      "name": "Transform AdSet Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        816
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "id",
              "value": "={{ $json.body.entry[0].changes[0].value.id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "name",
              "value": "={{ $json.body.entry[0].changes[0].value.name }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "status",
              "value": "={{ $json.body.entry[0].changes[0].value.status }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "adset_id",
              "value": "={{ $json.body.entry[0].changes[0].value.adset_id }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "updated_time",
              "value": "={{ $json.body.entry[0].changes[0].value.updated_time }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "event_type",
              "value": "={{ $json.body.entry[0].changes[0].value.event_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7db416b9-3465-4ce2-839b-d27f0c81fad1",
      "name": "Transform Ad Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        1008
      ]
    },
    {
      "parameters": {
        "tableId": "={{ $('Workflow Configuration').first().json.supabaseCampaignsTable }}"
      },
      "id": "c4fea75e-6321-4f29-a33d-0de8a28d2e7d",
      "name": "Upsert Campaign to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1056,
        1200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PrEgTvUovvMPNi0o",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "={{ $('Workflow Configuration').first().json.supabaseAdsetsTable }}"
      },
      "id": "0859a057-2d8b-4120-a31b-68207e2bbbe6",
      "name": "Upsert AdSet to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1056,
        816
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PrEgTvUovvMPNi0o",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "={{ $('Workflow Configuration').first().json.supabaseAdsTable }}"
      },
      "id": "03c456f0-0a56-4be8-b604-7960d4170013",
      "name": "Upsert Ad to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1056,
        1008
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PrEgTvUovvMPNi0o",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": "={{ 1 }}",
              "triggerAtHour": "={{ 7 }}",
              "triggerAtMinute": "={{ 10 }}"
            }
          ]
        }
      },
      "id": "7fbbf030-d9c4-4c1a-b6b3-55700ed98303",
      "name": "Gatilho por Horário",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        160,
        416
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "graphApiVersion": "v20.0",
        "node": "=act_{{ $json['Conta_de_Anuncio'] }}",
        "edge": "insights",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "time_increment",
                "value": "1"
              },
              {
                "name": "level",
                "value": "ad"
              },
              {
                "name": "fields",
                "value": "=campaign_id,\ncampaign_name,\nadset_id,\nadset_name,\nad_id,\nad_name,\nspend,\nimpressions,\nclicks,\ncpc,\ncpm,\ncpp,\nctr,\nobjective,\nreach,\nactions"
              },
              {
                "name": "limit",
                "value": "3000"
              },
              {
                "name": "date_preset",
                "value": "yesterday"
              }
            ]
          }
        }
      },
      "id": "8aa31830-2e78-45df-af87-cd3e7eee7bf5",
      "name": "Buscar Dados no Meta",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        1280,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "9d684dbf-11ee-4757-a2c0-2ee4596dd47f",
      "name": "Desmembrar Dados",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1728,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "let totalSpend = 0;\nlet totalLeads = 0;\nlet sumCPM = 0;\nlet sumCPP = 0;\nlet sumCTR = 0;\nlet totalLinkClicks = 0;  // Variável para acumular o valor de link_click\nlet countCPM = 0;\nlet countCPP = 0;\nlet countCTR = 0;\n\n// Função para converter string de valores para float, considerando tanto ponto quanto vírgula\nfunction convertToFloat(value) {\n    return parseFloat(value.replace(',', '.'));\n}\n\n// Itera sobre cada item (que representa um conjunto de dados da campanha)\nitems.forEach(item => {\n    const jsonData = item.json;\n\n    // Acumula o valor de spend\n    if (jsonData.spend !== undefined) {\n        totalSpend += convertToFloat(jsonData.spend);\n    }\n\n    // Verifica se o campo 'actions' existe e é um array\n    if (Array.isArray(jsonData.actions)) {\n        jsonData.actions.forEach(action => {\n            // Acumula o valor de link_click\n            if (action.action_type === \"link_click\") {\n                totalLinkClicks += parseInt(action.value, 10);\n            }\n            // Acumula o valor de leads (exemplo de ação específica)\n            if (action.action_type ===  $item(\"0\").$node[\"Dados\"].json[\"Action_type\"]) {\n                totalLeads += parseInt(action.value, 10);\n            }\n        });\n    }\n\n    // Acumula os valores de cpm, cpp, ctr para calcular a média\n    if (jsonData.cpm !== undefined) {\n        sumCPM += convertToFloat(jsonData.cpm);\n        countCPM++;\n    }\n    if (jsonData.cpp !== undefined) {\n        sumCPP += convertToFloat(jsonData.cpp);\n        countCPP++;\n    }\n    if (jsonData.ctr !== undefined && convertToFloat(jsonData.ctr) > 0) {\n        sumCTR += convertToFloat(jsonData.ctr);\n        countCTR++;\n    }\n});\n\n// Calcula as médias\nconst avgCPC = totalLinkClicks > 0 ? (totalSpend / totalLinkClicks) : 0;\nconst avgCPM = countCPM > 0 ? (sumCPM / countCPM) : 0;\nconst avgCPP = countCPP > 0 ? (sumCPP / countCPP) : 0;\nconst avgCTR = countCTR > 0 ? (sumCTR / countCTR) : 0;\nconst cpl = totalLeads > 0 ? (totalSpend / totalLeads) : 0;  // Calcula o CPL\n\n// Retorna apenas os dados acumulados\nreturn [\n    {\n        json: {\n            totalSpend: totalSpend.toFixed(2).replace('.', ','),\n            totalLeads: totalLeads,\n            totalLinkClicks: totalLinkClicks,  // Inclui o total de link_click no resultado\n            avgCPC: avgCPC.toFixed(2).replace('.', ','),\n            avgCPM: avgCPM.toFixed(2).replace('.', ','),\n            avgCPP: avgCPP.toFixed(2).replace('.', ','),\n            avgCTR: avgCTR.toFixed(2).replace('.', ','),\n            cpl: cpl.toFixed(2).replace('.', ',')\n        }\n    }\n];\n"
      },
      "id": "af1842c2-4448-4a9b-9540-b84297202c56",
      "name": "Script para Alterar Dados",
      "type": "n8n-nodes-base.code",
      "position": [
        2400,
        416
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d6dab850-a841-4bc5-bb13-da0b87f4883b",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        832,
        416
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "7c0b3bd6-e3e7-4aba-a716-90fab25b2706",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3520,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "8533214b-3645-4129-b716-add3d45ad519",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1056,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1mzpJGdQ5M0wvwtss_OKKsimZLGpcbsHzsW7kn0Gdkzc"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mzpJGdQ5M0wvwtss_OKKsimZLGpcbsHzsW7kn0Gdkzc/edit#gid=0",
          "cachedResultName": "Página1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ativo",
              "lookupValue": "Sim"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "0819d154-e01c-4b51-bbe7-4b4b8940c016",
      "name": "Base de Clientes",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        608,
        416
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "sendTo": "={{ $('Dados Cliente').first().json[\"Email\"] }}",
        "subject": "Relatorio de Campanha",
        "emailType": "text",
        "message": "=📊 Relatório de campanha da conta {{ $('Dados Cliente').first().json[\"Cliente\"] }}\n\n🗓️ Data: {{ new Date(Date.now() - 86400000).toLocaleDateString('pt-BR') }}\n\n- Total de Cliques: {{ $('Script para Alterar Dados').item.json.totalLinkClicks }}\n- Custo Médio por Cliques: R$ {{ $('Script para Alterar Dados').item.json.avgCPC }}\n\n- Valor Total Investido: R${{ $('Script para Alterar Dados').item.json.totalSpend }}\n\n- Total de {{ $item('0').$node[\"Dados\"].json[\"Objetivo\"] }}: {{ $json.totalLeads }}\n- Custo Médio por {{ $item('0').$node[\"Dados\"].json[\"Objetivo\"] }}: R${{ $json.cpl }}\"",
        "options": {
          "appendAttribution": false,
          "senderName": "Flux Automate"
        }
      },
      "id": "91e047c1-e069-4ad8-b23d-fb9cbbc39546",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3296,
        416
      ],
      "typeVersion": 2.1,
      "webhookId": "54b1cb5b-e4f7-4b20-996d-4a6319c94912"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3152ba7b-2784-42d8-ad8c-a9f97ad61fc0",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.data }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "c71e5f7c-3358-4a23-ac5d-98f8284c1af3",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        1504,
        416
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf0c339a-d3d1-4bc5-9079-d47ec4a2ae05",
              "name": "Conta_de_Anuncio",
              "type": "string",
              "value": "={{ $json['Conta de Anuncio'] }}"
            },
            {
              "id": "f4600920-959d-4eef-8a5c-acca0be0158b",
              "name": "Contato_do_cliente",
              "type": "string",
              "value": "={{ $json['Contato do cliente'] }}"
            },
            {
              "id": "1ca84bfe-93ec-45bb-be63-27a93363980c",
              "name": "Email",
              "type": "string",
              "value": "={{ $json.Email }}"
            },
            {
              "id": "bf948392-b9f7-4698-b27a-8a979d5e144c",
              "name": "Cliente",
              "type": "string",
              "value": "={{ $json.Cliente }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3d3aec6e-706b-4d34-936f-b05c4b6893f6",
      "name": "Dados Cliente",
      "type": "n8n-nodes-base.set",
      "position": [
        1056,
        352
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "030e2b8b-180b-4753-8ec2-2a70101aefb1",
              "name": "url_evolution",
              "type": "string",
              "value": ""
            },
            {
              "id": "81419d30-620a-4705-8816-03327870beab",
              "name": "instancia",
              "type": "string",
              "value": ""
            },
            {
              "id": "ceeffd46-2654-4d6d-8c69-2914ee1fff93",
              "name": "token",
              "type": "string",
              "value": ""
            },
            {
              "id": "3cdab645-994c-4ced-8ed6-a1dbc16782e5",
              "name": "Action_type",
              "type": "string",
              "value": "onsite_conversion.messaging_conversation_started_7d"
            },
            {
              "id": "103b5e28-ac3d-47d4-862f-82aa9e2f27a4",
              "name": "Objetivo",
              "type": "string",
              "value": "Conversa Iniciada"
            }
          ]
        },
        "options": {}
      },
      "id": "ee09604d-3d15-431d-b7c1-66a7be777293",
      "name": "Dados",
      "type": "n8n-nodes-base.set",
      "position": [
        384,
        416
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Dados\n**Alterar apenas aqui",
        "height": 309.5559926974605,
        "width": 437.4719903578132
      },
      "id": "9d913436-96bb-4d55-9c00-3c057c13fe19",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"Dados\"].json[\"url_evolution\"] }}/message/sendText/{{ $item(\"0\").$node[\"Dados\"].json[\"instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $item(\"0\").$node[\"Dados\"].json[\"token\"] }}"
            },
            {
              "name": "content_type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $item('0').$node[\"Dados Cliente\"].json[\"Contato_do_cliente\"] }}\",\n    \"text\": \"📊 *Relatório de campanha da conta*{{$('Dados Cliente').first().json[\"Cliente\"] }}*\\n\\n🗓️ *Data:* {{ new Date(Date.now() - 86400000).toLocaleDateString('pt-BR') }}\\n\\n- *Total de Cliques:* {{ $json.totalLinkClicks }}\\n- *Custo Médio por Cliques:* R${{ $json.avgCPC }}\\n\\n-*Valor Total Investido:* R${{ $json.totalSpend }}\\n\\n- *Total de {{ $item('0').$node[\"Dados\"].json[\"Objetivo\"] }}:* {{ $json.totalLeads }}\\n- *Custo Médio por {{ $item('0').$node[\"Dados\"].json[\"Objetivo\"] }}:* R${{ $json.cpl }}\"\n}",
        "options": {}
      },
      "id": "80a6681c-c52a-4e5a-b1bd-05fe36b1643d",
      "name": "Evolution 2.1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3072,
        416
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "account_id",
              "value": "={{ $('Dados Cliente').first().json.Conta_de_Anuncio }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "client_name",
              "value": "={{ $('Dados Cliente').first().json.Cliente }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "report_date",
              "value": "={{ new Date(Date.now() - 86400000).toISOString().split(\"T\")[0] }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "total_spend",
              "value": "={{ parseFloat($json.totalSpend.replace(\",\", \".\")) }}",
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "total_leads",
              "value": "={{ $json.totalLeads }}",
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "total_link_clicks",
              "value": "={{ $json.totalLinkClicks }}",
              "type": "number"
            },
            {
              "id": "id-7",
              "name": "avg_cpc",
              "value": "={{ parseFloat($json.avgCPC.replace(\",\", \".\")) }}",
              "type": "number"
            },
            {
              "id": "id-8",
              "name": "avg_cpm",
              "value": "={{ parseFloat($json.avgCPM.replace(\",\", \".\")) }}",
              "type": "number"
            },
            {
              "id": "id-9",
              "name": "avg_cpp",
              "value": "={{ parseFloat($json.avgCPP.replace(\",\", \".\")) }}",
              "type": "number"
            },
            {
              "id": "id-10",
              "name": "avg_ctr",
              "value": "={{ parseFloat($json.avgCTR.replace(\",\", \".\")) }}",
              "type": "number"
            },
            {
              "id": "id-11",
              "name": "cpl",
              "value": "={{ parseFloat($json.cpl.replace(\",\", \".\")) }}",
              "type": "number"
            },
            {
              "id": "id-12",
              "name": "action_type",
              "value": "={{ $('Dados').first().json.Action_type }}",
              "type": "string"
            },
            {
              "id": "id-13",
              "name": "objective",
              "value": "={{ $('Dados').first().json.Objetivo }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4bf9d050-907d-4cc1-bb0c-d58a97ab1903",
      "name": "Transform Metrics for Supabase",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2624,
        416
      ]
    },
    {
      "parameters": {
        "tableId": "={{ $('Workflow Configuration').first().json.supabaseMetricsTable }}",
        "dataToSend": "autoMapInputData"
      },
      "id": "d5010240-a74f-4506-a942-83181b3b58e7",
      "name": "Upsert Metrics to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2848,
        416
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PrEgTvUovvMPNi0o",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "ad_id",
              "value": "={{ $json.ad_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "ad_name",
              "value": "={{ $json.ad_name }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "campaign_id",
              "value": "={{ $json.campaign_id }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "campaign_name",
              "value": "={{ $json.campaign_name }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "adset_id",
              "value": "={{ $json.adset_id }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "adset_name",
              "value": "={{ $json.adset_name }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "spend",
              "value": "={{ $json.spend }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "impressions",
              "value": "={{ $json.impressions }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "clicks",
              "value": "={{ $json.clicks }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "cpc",
              "value": "={{ $json.cpc }}",
              "type": "string"
            },
            {
              "id": "id-11",
              "name": "cpm",
              "value": "={{ $json.cpm }}",
              "type": "string"
            },
            {
              "id": "id-12",
              "name": "cpp",
              "value": "={{ $json.cpp }}",
              "type": "string"
            },
            {
              "id": "id-13",
              "name": "ctr",
              "value": "={{ $json.ctr }}",
              "type": "string"
            },
            {
              "id": "id-14",
              "name": "reach",
              "value": "={{ $json.reach }}",
              "type": "string"
            },
            {
              "id": "id-15",
              "name": "objective",
              "value": "={{ $json.objective }}",
              "type": "string"
            },
            {
              "id": "id-16",
              "name": "actions",
              "value": "={{ JSON.stringify($json.actions) }}",
              "type": "string"
            },
            {
              "id": "id-17",
              "name": "date_start",
              "value": "={{ $json.date_start }}",
              "type": "string"
            },
            {
              "id": "id-18",
              "name": "date_stop",
              "value": "={{ $json.date_stop }}",
              "type": "string"
            },
            {
              "id": "id-19",
              "name": "account_id",
              "value": "={{ $('Dados Cliente').first().json.Conta_de_Anuncio }}",
              "type": "string"
            },
            {
              "id": "id-20",
              "name": "client_name",
              "value": "={{ $('Dados Cliente').first().json.Cliente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d0d9c97b-7a11-4d52-8508-a7690f19638e",
      "name": "Transform Individual Ad Metrics",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        496
      ]
    },
    {
      "parameters": {
        "tableId": "={{ $('Workflow Configuration').first().json.supabaseAdMetricsTable }}"
      },
      "id": "a1563e34-ca5a-44c6-8557-491b0f105c36",
      "name": "Upsert Ad Metrics to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2176,
        496
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PrEgTvUovvMPNi0o",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d8f2cade-5f0e-47da-ba2f-f183ca1a7372",
      "name": "Meta Sync",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        1008
      ],
      "webhookId": "cdfc5ccb-cb2e-45c5-8c7f-6940377cb67e"
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Route by Object Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Object Type": {
      "main": [
        [
          {
            "node": "Transform Campaign Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transform AdSet Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transform Ad Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Campaign Data": {
      "main": [
        [
          {
            "node": "Upsert Campaign to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform AdSet Data": {
      "main": [
        [
          {
            "node": "Upsert AdSet to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Ad Data": {
      "main": [
        [
          {
            "node": "Upsert Ad to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho por Horário": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Dados no Meta": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desmembrar Dados": {
      "main": [
        [
          {
            "node": "Script para Alterar Dados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transform Individual Ad Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dados Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base de Clientes": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Desmembrar Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Cliente": {
      "main": [
        [
          {
            "node": "Buscar Dados no Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Base de Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution 2.1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script para Alterar Dados": {
      "main": [
        [
          {
            "node": "Transform Metrics for Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Metrics for Supabase": {
      "main": [
        [
          {
            "node": "Upsert Metrics to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Metrics to Supabase": {
      "main": [
        [
          {
            "node": "Evolution 2.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Individual Ad Metrics": {
      "main": [
        [
          {
            "node": "Upsert Ad Metrics to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Ad Metrics to Supabase": {
      "main": [
        [
          {
            "node": "Script para Alterar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Sync": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd5ac752-c88d-45de-9d53-9a62d2b8b7b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "63dbfee99e7db46636912ea02f6284c665c3cc754411fa1f0eb04a3eeeaecdf7"
  },
  "id": "cQkC127E2OXbUx2G",
  "tags": []
}